<nav class="navbar navbar-expand-lg primary-header {{primary-header}}">
	<div class="container align-items-lg-center">
		<a class="logo" href="index.html">
			<!-- <img
				src="{{root}}assets/img/{{logo-light}}"
				alt="image"
				class="logo__img logo__img--light"
			/>
			<img
				src="{{root}}assets/img/{{logo-dark}}"
				alt="image"
				class="logo__img logo__img--dark"
			/> -->
			<h5 style="color: #fff;">TRX Flow</h5>
		</a>
		<button
			class="navbar-toggler border-0"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbar0"
			aria-controls="navbar0"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<iconify-icon icon="solar:hamburger-menu-line-duotone"></iconify-icon>
		</button>
		<div class="collapse navbar-collapse" id="navbar0">
			<ul
				class="navbar-nav flex-grow-1 justify-content-center mx-lg-4 mb-2 mb-lg-0"
			>
				<li class="nav-item navigation-0">
					<a class="nav-link active" aria-current="page" href="#">首頁</a>
					<!-- <ul class="navigation-0__menu">
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}index.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/demo-img-3.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title">
									AI Code Generator
								</span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}home-2.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/demo-img-2.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title">
									AI Chat Support
								</span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}home-3.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/demo-img-1.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title"> Classic AI </span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}home-4.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/demo-img-4.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title">
									AI Image Generator
								</span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}home-5.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/demo-img-5.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title">
									AI Developer Assistant
								</span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}home-6.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/demo-img-6.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title">
									AI Video Generator
								</span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}home-7.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/demo-img-7.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title">
									AI Startup
								</span>
							</a>
						</li>
					</ul> -->
				</li>
				<li class="nav-item navigation-1">
					<a class="nav-link" aria-current="page" href="#">TRX 能量服務</a>
					<!-- <ul class="navigation-1__menu">
						<li class="navigation-1__menu-list">
							<a
								href="{{root}}about.html"
								class="link navigation-1__menu-link"
							>
								About Us
							</a>
						</li>
						<li class="navigation-1__menu-list has-sub-2nd">
							<a href="#" class="link navigation-1__menu-link"> Career </a>
							<ul class="navigation-1__sub-menu">
								<li class="navigation-1__sub-menu-list">
									<a
										href="{{root}}career.html"
										class="link navigation-1__sub-menu-link"
									>
										Career Opportunity
									</a>
								</li>
								<li class="navigation-1__sub-menu-list">
									<a
										href="{{root}}career-details.html"
										class="link navigation-1__sub-menu-link"
									>
										Career Details
									</a>
								</li>
								<li class="navigation-1__sub-menu-list">
									<a
										href="{{root}}career-application.html"
										class="link navigation-1__sub-menu-link"
									>
										Apply Now
									</a>
								</li>
							</ul>
						</li>
						<li class="navigation-1__menu-list has-sub-2nd">
							<a href="#" class="link navigation-1__menu-link">
								Case Study
							</a>
							<ul class="navigation-1__sub-menu">
								<li class="navigation-1__sub-menu-list">
									<a
										href="{{root}}case-study.html"
										class="link navigation-1__sub-menu-link"
									>
										Case Study
									</a>
								</li>
								<li class="navigation-1__sub-menu-list">
									<a
										href="{{root}}case-study-details.html"
										class="link navigation-1__sub-menu-link"
									>
										Case Study Details
									</a>
								</li>
							</ul>
						</li>
						<li class="navigation-1__menu-list">
							<a
								href="{{root}}contact.html"
								class="link navigation-1__menu-link"
							>
								Contact Us
							</a>
						</li>
						<li class="navigation-1__menu-list has-sub-2nd">
							<a href="#" class="link navigation-1__menu-link">
								Portfolio
							</a>
							<ul class="navigation-1__sub-menu">
								<li class="navigation-1__sub-menu-list">
									<a
										href="{{root}}portfolio.html"
										class="link navigation-1__sub-menu-link"
									>
										Portfolio
									</a>
								</li>
								<li class="navigation-1__sub-menu-list">
									<a
										href="{{root}}portfolio-details.html"
										class="link navigation-1__sub-menu-link"
									>
										Portfolio Details
									</a>
								</li>
							</ul>
						</li>
						<li class="navigation-1__menu-list">
							<a
								href="{{root}}pricing.html"
								class="link navigation-1__menu-link"
							>
								Pricing
							</a>
						</li>
						<li class="navigation-1__menu-list has-sub-2nd">
							<a href="#" class="link navigation-1__menu-link"> Service </a>
							<ul class="navigation-1__sub-menu">
								<li class="navigation-1__sub-menu-list">
									<a
										href="{{root}}service.html"
										class="link navigation-1__sub-menu-link"
									>
										Service
									</a>
								</li>
								<li class="navigation-1__sub-menu-list">
									<a
										href="{{root}}service-details.html"
										class="link navigation-1__sub-menu-link"
									>
										Service Details
									</a>
								</li>
							</ul>
						</li>
						<li class="navigation-1__menu-list has-sub-2nd">
							<a href="#" class="link navigation-1__menu-link">
								Other Pages
							</a>
							<ul class="navigation-1__sub-menu">
								<li class="navigation-1__sub-menu-list">
									<a
										href="{{root}}event-details.html"
										class="link navigation-1__sub-menu-link"
									>
										Event Details
									</a>
								</li>
								<li class="navigation-1__sub-menu-list">
									<a
										href="{{root}}faq.html"
										class="link navigation-1__sub-menu-link"
									>
										FAQ
									</a>
								</li>
								<li class="navigation-1__sub-menu-list">
									<a
										href="{{root}}feature.html"
										class="link navigation-1__sub-menu-link"
									>
										Feature
									</a>
								</li>
								<li class="navigation-1__sub-menu-list">
									<a
										href="{{root}}privacy-policy.html"
										class="link navigation-1__sub-menu-link"
									>
										Privacy Policy
									</a>
								</li>
								<li class="navigation-1__sub-menu-list">
									<a
										href="{{root}}sign-in-1.html"
										class="link navigation-1__sub-menu-link"
									>
										Sign In - I
									</a>
								</li>
								<li class="navigation-1__sub-menu-list">
									<a
										href="{{root}}sign-in-2.html"
										class="link navigation-1__sub-menu-link"
									>
										Sign In - II
									</a>
								</li>
								<li class="navigation-1__sub-menu-list">
									<a
										href="{{root}}sign-up-1.html"
										class="link navigation-1__sub-menu-link"
									>
										Sign Up - I
									</a>
								</li>
								<li class="navigation-1__sub-menu-list">
									<a
										href="{{root}}sign-up-2.html"
										class="link navigation-1__sub-menu-link"
									>
										Sign Up - II
									</a>
								</li>
							</ul>
						</li>
					</ul> -->
				</li>
				<li class="nav-item navigation-1">
					<a class="nav-link" aria-current="page" href="#">節點與技術架構</a>
					<!-- <ul class="navigation-1__menu">
						<li class="navigation-1__menu-list">
							<a
								href="{{root}}blog-2.html"
								class="link navigation-1__menu-link"
							>
								Modern Blog
							</a>
						</li>
						<li class="navigation-1__menu-list">
							<a
								href="{{root}}blog-1.html"
								class="link navigation-1__menu-link"
							>
								Blog With Sidebar
							</a>
						</li>
						<li class="navigation-1__menu-list">
							<a
								href="{{root}}blog-3.html"
								class="link navigation-1__menu-link"
							>
								Blog With Left Sidebar
							</a>
						</li>
						<li class="navigation-1__menu-list">
							<a
								href="{{root}}blog-4.html"
								class="link navigation-1__menu-link"
							>
								Blog Without Sidebar
							</a>
						</li>
						<li class="navigation-1__menu-list has-sub-2nd">
							<a href="#" class="link navigation-1__menu-link">
								Blog Post
							</a>
							<ul class="navigation-1__sub-menu">
								<li class="navigation-1__sub-menu-list">
									<a
										href="{{root}}blog-details-1.html"
										class="link navigation-1__sub-menu-link"
									>
										Post With Sidebar
									</a>
								</li>
								<li class="navigation-1__sub-menu-list">
									<a
										href="{{root}}blog-details-3.html"
										class="link navigation-1__sub-menu-link"
									>
										Post With Left Sidebar
									</a>
								</li>
								<li class="navigation-1__sub-menu-list">
									<a
										href="{{root}}blog-details-2.html"
										class="link navigation-1__sub-menu-link"
									>
										Post Without Sidebar
									</a>
								</li>
							</ul>
						</li>
					</ul> -->
				</li>
				<li class="nav-item navigation-0 navigation-0--column-6">
					<a class="nav-link" aria-current="page" href="#" data-scroll="#market">能量市場機制</a>
					<!-- <ul class="navigation-0__menu">
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-about.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-about.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title"> About </span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-blog.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-blog.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title"> Blog </span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-cta.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-cta.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title">
									Call to Action
								</span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-testimonial.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-testimonial.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title">
									Testimonials
								</span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-contact.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-contact.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title"> Contact </span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-fact.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-fact.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title"> Info List </span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-faq.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-faq.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title"> FAQ </span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-feature.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-features.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title"> Features </span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-hero.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-hero.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title"> Hero </span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-footer.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-footer.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title"> Footer </span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-portfolio.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-portfolio.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title"> Portfolio </span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-pricing.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-pricing.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title"> Pricing </span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-team.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-team.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title"> Team </span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-timeline.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-timeline.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title"> Timeline </span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-ticker.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-ticker.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title"> Ticker </span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-card.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-card.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title"> Card </span>
							</a>
						</li>
					</ul> -->
				</li>
				<li class="nav-item navigation-0 navigation-0--column-6">
					<a class="nav-link" aria-current="page" href="#" data-scroll="#trxflow_match">使用情境</a>
					<!-- <ul class="navigation-0__menu">
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-about.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-about.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title"> About </span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-blog.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-blog.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title"> Blog </span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-cta.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-cta.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title">
									Call to Action
								</span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-testimonial.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-testimonial.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title">
									Testimonials
								</span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-contact.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-contact.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title"> Contact </span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-fact.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-fact.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title"> Info List </span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-faq.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-faq.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title"> FAQ </span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-feature.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-features.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title"> Features </span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-hero.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-hero.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title"> Hero </span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-footer.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-footer.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title"> Footer </span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-portfolio.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-portfolio.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title"> Portfolio </span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-pricing.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-pricing.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title"> Pricing </span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-team.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-team.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title"> Team </span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-timeline.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-timeline.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title"> Timeline </span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-ticker.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-ticker.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title"> Ticker </span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-card.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-card.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title"> Card </span>
							</a>
						</li>
					</ul> -->
				</li>
				<li class="nav-item navigation-0 navigation-0--column-6">
					<a class="nav-link" aria-current="page" href="#" data-scroll="#faq">常見問題</a>
					<!-- <ul class="navigation-0__menu">
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-about.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-about.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title"> About </span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-blog.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-blog.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title"> Blog </span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-cta.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-cta.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title">
									Call to Action
								</span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-testimonial.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-testimonial.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title">
									Testimonials
								</span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-contact.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-contact.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title"> Contact </span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-fact.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-fact.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title"> Info List </span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-faq.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-faq.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title"> FAQ </span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-feature.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-features.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title"> Features </span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-hero.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-hero.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title"> Hero </span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-footer.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-footer.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title"> Footer </span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-portfolio.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-portfolio.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title"> Portfolio </span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-pricing.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-pricing.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title"> Pricing </span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-team.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-team.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title"> Team </span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-timeline.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-timeline.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title"> Timeline </span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-ticker.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-ticker.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title"> Ticker </span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="{{root}}block-page-card.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/shapes/block-menu-card.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title"> Card </span>
							</a>
						</li>
					</ul> -->
				</li>
			</ul>
			<div class="d-flex align-items-center gap-3 ms-lg-auto">
				<a
					href="{{root}}sign-in-2.html"
					class="btn btn-sm btn-primary order-lg-2 {{#if navBtnColor}} {{navBtnColor}} {{/if}}"
				> 登入 </a>
				<a href="#" class="btn btn-sm btn-primary order-lg-2 {{#if navBtnColor}} {{navBtnColor}} {{/if}}"> 開始使用 TRXFlow </a>
				<div class="dropdown dropdown-modifier dropdown-xsm order-lg-1 theme-settings">
					<button
						class="btn dropdown-toggle px-4 px-lg-0 fs-14 border-0 align-items-center gap-1"
						type="button"
						data-bs-toggle="dropdown"
						aria-haspopup="true"
						aria-expanded="false"
					>
						<iconify-icon id="themeDropdownIcon" icon="bi:sun"></iconify-icon>
					</button>
					<ul
						class="dropdown-menu dropdown-menu-end dropdown-menu-light mw-unset"
					>
						<li>
							<button
								type="button"
								class="dropdown-item d-flex align-items-center gap-2 fs-14"
								id="lightTheme"
							>
								<span class="d-block flex-shrink-0">
									<iconify-icon icon="bi:sun"></iconify-icon>
								</span>
								<span class="d-block flex-grow-1"> Light </span>
							</button>
						</li>
						<li>
							<button
								type="button"
								class="dropdown-item d-flex align-items-center gap-2 fs-14"
								id="darkTheme"
							>
								<span class="d-block flex-shrink-0">
									<iconify-icon icon="bi:moon-stars"></iconify-icon>
								</span>
								<span class="d-block flex-grow-1"> Dark </span>
							</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</nav>
