<nav class="navbar navbar-expand-lg primary-header {{primary-header}}">
	<div class="container align-items-lg-center">
		<a class="logo" style="text-decoration: none;" href="index.html">
			<img
				src="{{root}}assets/img/trxflowlogo.png"
				alt="image"
				class="logo__img"
				style="transform: scale(1.5); padding-left: 1rem;"
			/>
		</a>
		<button
			class="navbar-toggler border-0"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbar0"
			aria-controls="navbar0"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<iconify-icon icon="solar:hamburger-menu-line-duotone"></iconify-icon>
		</button>
		<div class="collapse navbar-collapse" id="navbar0">
			<ul class="navbar-nav flex-grow-1 justify-content-center mx-lg-4 mb-2 mb-lg-0">
				<li class="nav-item navigation-0">
					<a class="nav-link is-current" aria-current="page" href="#">
						<span class="nav-text">首頁</span>
					</a>
				</li>
				<li class="nav-item navigation-1">
					<a class="nav-link" aria-current="page" href="#"><span class="nav-text">TRX 能量服務</span></a>
				</li>
				<li class="nav-item navigation-1">
					<a class="nav-link" aria-current="page" href="#"><span class="nav-text">節點與技術架構</span></a>
				</li>
				<li class="nav-item navigation-0 navigation-0--column-6">
					<a class="nav-link" aria-current="page" href="#" data-scroll="#market"><span class="nav-text">能量市場機制</span></a>
				</li>
				<li class="nav-item navigation-0 navigation-0--column-6">
					<a class="nav-link" aria-current="page" href="#" data-scroll="#trxflow_match"><span class="nav-text">使用情境</span></a>
				</li>
				<li class="nav-item navigation-0 navigation-0--column-6">
					<a class="nav-link" aria-current="page" href="#" data-scroll="#faq"><span class="nav-text">常見問題</span></a>
				</li>
			</ul>
			<div class="d-flex align-items-center gap-3 ms-lg-auto">
				<a
					href="{{root}}sign-in-2.html"
					class="btn btn-sm btn-primary hover:text-primary order-lg-2 {{#if navBtnColor}} {{navBtnColor}} {{/if}}"
				> 登入 </a>
				<a href="#" class="btn btn-sm btn-outline-light order-lg-2 hover:text-primary {{#if navBtnColor}} {{navBtnColor}} {{/if}}"> 開始使用 TRXFlow </a>
			</div>
		</div>
	</div>
</nav>
