/* Dark Theme Variables */
[data-bs-theme="dark"] {
	--bs-body-bg: #0d0e10;

	--bs-primary-bg-subtle: #15063f;
	--bs-primary-text-emphasis: #efeaff;

	--bs-secondary-bg-subtle: #03063a;
	--bs-secondary-text-emphasis: #f6f7fd;

	--bs-danger-bg-subtle: #971837;
	--bs-danger-text-emphasis: #feeaef;

	--bs-warning-bg-subtle: #966c00;
	--bs-warning-text-emphasis: #fef7e6;

	--bs-success-bg-subtle: #044d1d;
	--bs-success-text-emphasis: #e8f9ee;

	--bs-info-bg-subtle: #024153;
	--bs-info-text-emphasis: #e6f9ff;

	--bs-light-bg-subtle: #495058;
	--bs-light-text-emphasis: #f8f9fa;

	--bs-dark-bg-subtle: #0d0e10;
	--bs-dark-text-emphasis: #ced4da;

	// Shadow Color
	--bs-box-shadow: 0px 10px 20px -4px rgba(145, 158, 171, 0.16);
	--bs-box-shadow-sm: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
	--bs-box-shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

	&[data-theme="demo"] {
		--bs-primary: #c7f32f;
		--bs-primary-rgb: 199, 243, 47;
		--bs-primary-text-emphasis: #f9feea;
		--bs-primary-bg-subtle: #79941d;
		--bs-primary-border-subtle: #79941d;
	}
	&[data-theme="home-2"] {
		--bs-primary: #6328ff;
		--bs-primary-rgb: 99, 40, 255;
		--bs-primary-text-emphasis: #efeaff;
		--bs-primary-bg-subtle: #15063f;
		--bs-primary-border-subtle: #15063f;
	}
	&[data-theme="home-3"] {
		--bs-primary: #c7f32f;
		--bs-primary-rgb: 199, 243, 47;
		--bs-primary-text-emphasis: #f6ffdb;
		--bs-primary-bg-subtle: #79941d;
		--bs-primary-border-subtle: #79941d;
	}
	&[data-theme="home-4"] {
		--bs-primary: #5c65ff;
		--bs-primary-rgb: 92, 101, 255;
		--bs-primary-text-emphasis: #f6f7fd;
		--bs-primary-bg-subtle: #03063a;
		--bs-primary-border-subtle: #03063a;
	}
	&[data-theme="home-6"] {
		--bs-primary: #f65c34;
		--bs-primary-rgb: 246, 92, 52;
		--bs-primary-text-emphasis: #fbbcac;
		--bs-primary-bg-subtle: #963820;
		--bs-primary-border-subtle: #963820;
		--bs-dark: #090a0c;
		--bs-dark-rgb: 9, 10, 12;
	}
	&[data-theme="home-7"] {
		--bs-dark: #090a0c;
		--bs-dark-rgb: 9, 10, 12;
	}
	.dark\:bg-dark {
		background-color: var(--bs-dark) !important;
	}
	.dark\:bg-dark-subtle {
		background-color: var(--bs-dark-bg-subtle) !important;
	}
	.dark\:bg-dark-emphasis {
		background-color: var(--bs-dark-text-emphasis) !important;
	}

	.dark\:bg-light {
		background-color: var(--bs-light) !important;
	}
	.dark\:bg-light-emphasis {
		background-color: var(--bs-light-text-emphasis) !important;
	}
	.dark\:bg-light-subtle {
		background-color: var(--bs-light-bg-subtle) !important;
	}

	.dark\:bg-primary {
		background-color: var(--bs-primary) !important;
	}
	.dark\:bg-primary-subtle {
		background-color: var(--bs-primary-bg-subtle) !important;
	}
	.dark\:bg-primary-emphasis {
		background-color: var(--bs-primary-text-emphasis) !important;
	}

	.dark\:bg-secondary {
		background-color: var(--bs-secondary) !important;
	}
	.dark\:bg-secondary-subtle {
		background-color: var(--bs-secondary-bg-subtle) !important;
	}
	.dark\:bg-secondary-emphasis {
		background-color: var(--bs-secondary-text-emphasis) !important;
	}

	.dark\:bg-success {
		background-color: var(--bs-success) !important;
	}
	.dark\:bg-success-subtle {
		background-color: var(--bs-success-bg-subtle) !important;
	}
	.dark\:bg-success-emphasis {
		background-color: var(--bs-success-text-emphasis) !important;
	}

	.dark\:bg-danger {
		background-color: var(--bs-danger) !important;
	}
	.dark\:bg-danger-subtle {
		background-color: var(--bs-danger-bg-subtle) !important;
	}
	.dark\:bg-danger-emphasis {
		background-color: var(--bs-danger-text-emphasis) !important;
	}

	.dark\:bg-warning {
		background-color: var(--bs-warning) !important;
	}
	.dark\:bg-warning-subtle {
		background-color: var(--bs-warning-bg-subtle) !important;
	}
	.dark\:bg-warning-emphasis {
		background-color: var(--bs-warning-text-emphasis) !important;
	}

	.dark\:bg-info {
		background-color: var(--bs-info) !important;
	}
	.dark\:bg-info-subtle {
		background-color: var(--bs-info-bg-subtle) !important;
	}
	.dark\:bg-info-emphasis {
		background-color: var(--bs-info-text-emphasis) !important;
	}

	.dark\:bg-heading {
		background-color: var(--bs-heading-color) !important;
	}
	.dark\:bg-body {
		background-color: var(--bs-body-color) !important;
	}

	.dark\:text-dark {
		color: var(--bs-dark) !important;
	}
	.dark\:text-dark-subtle {
		color: var(--bs-dark-bg-subtle) !important;
	}
	.dark\:text-dark-emphasis {
		color: var(--bs-dark-text-emphasis) !important;
	}

	.dark\:text-light {
		color: var(--bs-light) !important;
	}
	.dark\:text-light-subtle {
		color: var(--bs-light-bg-subtle) !important;
	}
	.dark\:text-light-emphasis {
		color: var(--bs-light-text-emphasis) !important;
	}

	.dark\:text-primary {
		color: var(--bs-primary) !important;
	}
	.dark\:text-primary-subtle {
		color: var(--bs-primary-bg-subtle) !important;
	}
	.dark\:text-primary-emphasis {
		color: var(--bs-primary-text-emphasis) !important;
	}

	.dark\:text-secondary {
		color: var(--bs-secondary) !important;
	}
	.dark\:text-secondary-subtle {
		color: var(--bs-secondary-bg-subtle) !important;
	}
	.dark\:text-secondary-emphasis {
		color: var(--bs-secondary-text-emphasis) !important;
	}

	.dark\:text-success {
		color: var(--bs-success) !important;
	}
	.dark\:text-success-subtle {
		color: var(--bs-success-bg-subtle) !important;
	}
	.dark\:text-success-emphasis {
		color: var(--bs-success-text-emphasis) !important;
	}

	.dark\:text-warning {
		color: var(--bs-warning) !important;
	}
	.dark\:text-warning-subtle {
		color: var(--bs-warning-bg-subtle) !important;
	}
	.dark\:text-warning-emphasis {
		color: var(--bs-warning-text-emphasis) !important;
	}

	.dark\:text-danger {
		color: var(--bs-danger) !important;
	}
	.dark\:text-danger-subtle {
		color: var(--bs-danger-bg-subtle) !important;
	}
	.dark\:text-danger-emphasis {
		color: var(--bs-danger-text-emphasis) !important;
	}

	.dark\:text-info {
		color: var(--bs-info) !important;
	}
	.dark\:text-info-subtle {
		color: var(--bs-info-bg-subtle) !important;
	}
	.dark\:text-info-emphasis {
		color: var(--bs-info-text-emphasis) !important;
	}

	.dark\:text-heading {
		color: var(--bs-heading-color) !important;
	}
	.dark\:d-none {
		display: none;
	}
	.dark\:d-block {
		display: block;
	}
	.dark\:d-inline-block {
		display: inline-block;
	}
	.dark\:filter-invert {
		filter: invert(1);
	}
}
