<footer class="position-relative z-1 overflow-hidden">
	<div class="section-space-lg-y">
		<div class="container">
			<div class="row g-4">
				<div class="col-lg-12" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
					<div>
						<h6 class="text-light">聯絡方式：Email / TG / X (Twitter)</h6>
						<ul class="text-light">
							<li>Email：</li>
							<li>TG：</li>
							<li>X(Twitter)：</li>
						</ul>
					</div>
				</div>
				<div class="col-12">
					<div class="section-space-md-top">
						<p class="text-center">服務條款 / 隱私權政策連結</p>
						<ul class="list list-row list-dot list-dot--md list-dot--secondary-emphasis flex-wrap align-items-center justify-content-center">
							<li>
								<span class="d-inline-block fs-14"> &copy; TRXFlow, All rights reserved. </span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<svg
		width="860"
		height="579"
		viewBox="0 0 860 579"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
		class="position-absolute z-n1 start-0 top-0 pointer-none"
	>
		<g filter="url(#filter0_f_10034_5037)">
			<path
				d="M169.847 11.8444C151.014 -24.0114 128.472 -103.643 82.4746 -110.489C43.9821 -116.218 33.7393 -2.76055 87.0576 100.521C215.664 305.212 328.779 330.576 432.07 345.949C535.361 361.322 587.664 315.572 592.476 283.235C597.289 250.899 573.027 200.25 405.023 175.245C237.02 150.241 188.679 47.7002 169.847 11.8444Z"
				fill="#00ff90"
				fill-opacity="0.2"
			/>
		</g>
		<defs>
			<filter
				id="filter0_f_10034_5037"
				x="-216.362"
				y="-377.364"
				width="1076.05"
				height="993.048"
				filterUnits="userSpaceOnUse"
				color-interpolation-filters="sRGB"
			>
				<feFlood flood-opacity="0" result="BackgroundImageFix" />
				<feBlend
					mode="normal"
					in="SourceGraphic"
					in2="BackgroundImageFix"
					result="shape"
				/>
				<feGaussianBlur
					stdDeviation="133.333"
					result="effect1_foregroundBlur_10034_5037"
				/>
			</filter>
		</defs>
	</svg>
	<svg
		width="691"
		height="579"
		viewBox="0 0 691 579"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
		class="position-absolute z-n1 end-0 top-0 pointer-none"
	>
		<g filter="url(#filter0_f_10034_5038)">
			<path
				d="M724.978 62.1383C748.883 29.4456 782.903 -46 829.407 -46C868.323 -46 861.752 67.7293 793.81 162.036C636.472 345.564 520.855 354 416.426 354C311.998 354 267 301.048 267 268.356C267 235.663 298.454 189.138 468.309 189.138C638.162 189.138 701.072 94.8311 724.978 62.1383Z"
				fill="#00fb6c"
				fill-opacity="0.2"
			/>
		</g>
		<defs>
			<filter
				id="filter0_f_10034_5038"
				x="0.333405"
				y="-312.667"
				width="1119.59"
				height="933.333"
				filterUnits="userSpaceOnUse"
				color-interpolation-filters="sRGB"
			>
				<feFlood flood-opacity="0" result="BackgroundImageFix" />
				<feBlend
					mode="normal"
					in="SourceGraphic"
					in2="BackgroundImageFix"
					result="shape"
				/>
				<feGaussianBlur
					stdDeviation="133.333"
					result="effect1_foregroundBlur_10034_5038"
				/>
			</filter>
		</defs>
	</svg>
</footer>
