<footer class="position-relative z-1 overflow-hidden">
	<div class="section-space-lg-y">
		<div class="container">
			<div class="row g-4">
				<!-- <div class="col-md-7 col-lg-4">
					<div class="pe-xxl-10">
						<a class="logo d-inline-flex mb-6" href="index.html">
							<img
								src="{{root}}assets/img/logo-dark.png"
								alt="image"
								class="logo__img logo__img--light"
							/>
							<img
								src="{{root}}assets/img/logo-light.png"
								alt="image"
								class="logo__img logo__img--dark"
							/>
						</a>
						<p class="mb-8">
							Giving modern marketing teams superpowers with short links
							that stand
						</p>
						<div class="d-flex align-items-center flex-wrap gap-3 mb-6">
							<div
								class="d-flex align-items-center gap-2 py-3 px-2 rounded bg-body shadow"
							>
								<img
									src="{{root}}assets/img/certificate-img-1.png"
									alt="image"
									class="img-fluid flex-shrink-0"
								/>
								<div class="flex-grow-1">
									<ul
										class="list list-row gap-1 align-items-center lh-1"
									>
										<li>
											<iconify-icon
												icon="mingcute:star-fill"
												class="fs-14 text-warning"
											></iconify-icon>
										</li>
										<li>
											<iconify-icon
												icon="mingcute:star-fill"
												class="fs-14 text-warning"
											></iconify-icon>
										</li>
										<li>
											<iconify-icon
												icon="mingcute:star-fill"
												class="fs-14 text-warning"
											></iconify-icon>
										</li>
										<li>
											<iconify-icon
												icon="mingcute:star-fill"
												class="fs-14 text-warning"
											></iconify-icon>
										</li>
										<li>
											<iconify-icon
												icon="mingcute:star-fill"
												class="fs-14 text-warning"
											></iconify-icon>
										</li>
									</ul>
									<p class="mb-0 fs-14 fw-medium">Capterra admit</p>
								</div>
							</div>
							<div
								class="d-flex align-items-center gap-2 py-3 px-2 rounded bg-body shadow"
							>
								<img
									src="{{root}}assets/img/certificate-img-2.png"
									alt="image"
									class="img-fluid flex-shrink-0"
								/>
								<div class="flex-grow-1">
									<ul
										class="list list-row gap-1 align-items-center lh-1"
									>
										<li>
											<iconify-icon
												icon="mingcute:star-fill"
												class="fs-14 text-warning"
											></iconify-icon>
										</li>
										<li>
											<iconify-icon
												icon="mingcute:star-fill"
												class="fs-14 text-warning"
											></iconify-icon>
										</li>
										<li>
											<iconify-icon
												icon="mingcute:star-fill"
												class="fs-14 text-warning"
											></iconify-icon>
										</li>
										<li>
											<iconify-icon
												icon="mingcute:star-fill"
												class="fs-14 text-warning"
											></iconify-icon>
										</li>
										<li>
											<iconify-icon
												icon="mingcute:star-fill"
												class="fs-14 text-warning"
											></iconify-icon>
										</li>
									</ul>
									<p class="mb-0 fs-14 fw-medium">Honored by G2</p>
								</div>
							</div>
						</div>
						<div
							class="d-flex justify-content-between align-items-center gap-4 py-2 px-4 bg-body rounded shadow"
						>
							<div class="d-flex align-items-center gap-2">
								<img
									src="{{root}}assets/img/avatar-6.png"
									alt="image"
									class="img-fluid flex-shrink-0"
								/>
								<div class="flex-grow-1">
									<span class="d-block fw-medium fs-14">
										Get <span class="text-primary">35% off</span> for
										the whole ✨ year
									</span>
								</div>
							</div>
							<a
								href="{{root}}pricing.html"
								class="link d-inline-block text-primary flex-shrink-0"
							>
								<iconify-icon
									icon="line-md:arrow-right"
									class="fs-20"
								></iconify-icon>
							</a>
						</div>
					</div>
				</div> -->
				<div class="col-lg-12" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
					<!-- <div class="row g-4 justify-content-xxl-around">
						<div class="col-sm-6 col-md-3 col-xxl-3">
							<h6 class="mb-6">
								Product
							</h6>
							<ul class="list gap-2">
								<li>
									<a
										href="{{root}}index.html"
										class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
									>
										AI Technology
									</a>
								</li>
								<li>
									<a
										href="{{root}}home-2.html"
										class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
									>
										AI Chat Support
									</a>
								</li>
								<li>
									<a
										href="{{root}}home-3.html"
										class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
									>
										AI Code Generator
									</a>
								</li>
								<li>
									<a
										href="{{root}}home-4.html"
										class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
									>
										AI Image Generator
									</a>
								</li>
								<li>
									<a
										href="{{root}}home-5.html"
										class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
									>
										AI Developer Ast.
									</a>
								</li>
								<li>
									<a
										href="{{root}}home-6.html"
										class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
									>
										AI Video Generator
									</a>
								</li>
							</ul>
						</div>
						<div class="col-sm-6 col-md-3 col-xxl-3">
							<h6 class="mb-6">Company</h6>
							<ul class="list gap-2">
								<li>
									<a
										href="{{root}}about.html"
										class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
									>
										About Us
									</a>
								</li>
								<li>
									<a
										href="{{root}}career.html"
										class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
									>
										Career Opportunity
									</a>
								</li>
								<li>
									<a
										href="{{root}}case-study.html"
										class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
									>
										Case Study
									</a>
								</li>
								<li>
									<a
										href="{{root}}contact.html"
										class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
									>
										Contact Us
									</a>
								</li>
								<li>
									<a
										href="{{root}}portfolio.html"
										class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
									>
										Portfolio
									</a>
								</li>
								<li>
									<a
										href="{{root}}pricing.html"
										class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
									>
										Pricing
									</a>
								</li>
								<li>
									<a
										href="{{root}}service.html"
										class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
									>
										Service
									</a>
								</li>
							</ul>
						</div>
						<div class="col-sm-6 col-md-3 col-xxl-2">
							<h6 class="mb-6">Pages</h6>
							<ul class="list gap-2">
								<li>
									<a
										href="{{root}}blog-1.html"
										class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
									>
										Blog
									</a>
								</li>
								<li>
									<a
										href="{{root}}blog-2.html"
										class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
									>
										Modern Blog
									</a>
								</li>
								<li>
									<a
										href="{{root}}faq.html"
										class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
									>
										FAQ
									</a>
								</li>
								<li>
									<a
										href="{{root}}sign-in-1.html"
										class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
									>
										Sign In
									</a>
								</li>
								<li>
									<a
										href="{{root}}sign-up-1.html"
										class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
									>
										Sign Up
									</a>
								</li>
								<li>
									<a
										href="{{root}}event-details.html"
										class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
									>
										Event
									</a>
								</li>
								<li>
									<a
										href="{{root}}privacy-policy.html"
										class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
									>
										Privacy Policy
									</a>
								</li>
							</ul>
						</div>
						<div class="col-sm-6 col-md-3 col-xxl-3">
							<h6 class="mb-6">Elements</h6>
							<ul class="list gap-2">
								<li>
									<a
										href="{{root}}block-page-about.html"
										class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
									>
										About
									</a>
								</li>
								<li>
									<a
										href="{{root}}block-page-blog.html"
										class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
									>
										Blog
									</a>
								</li>
								<li>
									<a
										href="{{root}}block-page-cta.html"
										class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
									>
										Call to Action
									</a>
								</li>
								<li>
									<a
										href="{{root}}block-page-testimonial.html"
										class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
									>
										Testimonial
									</a>
								</li>
								<li>
									<a
										href="{{root}}block-page-fact.html"
										class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
									>
										Info List
									</a>
								</li>
								<li>
									<a
										href="{{root}}block-page-feature.html"
										class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
									>
										Feature
									</a>
								</li>
								<li>
									<a
										href="{{root}}block-page-hero.html"
										class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14"
									>
										Hero
									</a>
								</li>
							</ul>
						</div>
					</div> -->
					<div>
						<h6>聯絡方式：Email / TG / X (Twitter)</h6>
						<ul>
							<li>Email：</li>
							<li>TG：</li>
							<li>X(Twitter)：</li>
						</ul>
					</div>
				</div>
				<div class="col-12">
					<div class="section-space-md-top">
						<p class="text-center">服務條款 / 隱私權政策連結</p>
						<ul class="list list-row list-dot list-dot--md list-dot--secondary-emphasis flex-wrap align-items-center justify-content-center">
							<li>
								<span class="d-inline-block fs-14"> &copy; TRXFlow, All rights reserved. </span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<svg
		width="860"
		height="579"
		viewBox="0 0 860 579"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
		class="position-absolute z-n1 start-0 top-0 pointer-none"
	>
		<g filter="url(#filter0_f_10034_5037)">
			<path
				d="M169.847 11.8444C151.014 -24.0114 128.472 -103.643 82.4746 -110.489C43.9821 -116.218 33.7393 -2.76055 87.0576 100.521C215.664 305.212 328.779 330.576 432.07 345.949C535.361 361.322 587.664 315.572 592.476 283.235C597.289 250.899 573.027 200.25 405.023 175.245C237.02 150.241 188.679 47.7002 169.847 11.8444Z"
				fill="#00C4FD"
				fill-opacity="0.2"
			/>
		</g>
		<defs>
			<filter
				id="filter0_f_10034_5037"
				x="-216.362"
				y="-377.364"
				width="1076.05"
				height="993.048"
				filterUnits="userSpaceOnUse"
				color-interpolation-filters="sRGB"
			>
				<feFlood flood-opacity="0" result="BackgroundImageFix" />
				<feBlend
					mode="normal"
					in="SourceGraphic"
					in2="BackgroundImageFix"
					result="shape"
				/>
				<feGaussianBlur
					stdDeviation="133.333"
					result="effect1_foregroundBlur_10034_5037"
				/>
			</filter>
		</defs>
	</svg>
	<svg
		width="691"
		height="579"
		viewBox="0 0 691 579"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
		class="position-absolute z-n1 end-0 top-0 pointer-none"
	>
		<g filter="url(#filter0_f_10034_5038)">
			<path
				d="M724.978 62.1383C748.883 29.4456 782.903 -46 829.407 -46C868.323 -46 861.752 67.7293 793.81 162.036C636.472 345.564 520.855 354 416.426 354C311.998 354 267 301.048 267 268.356C267 235.663 298.454 189.138 468.309 189.138C638.162 189.138 701.072 94.8311 724.978 62.1383Z"
				fill="#6328FF"
				fill-opacity="0.2"
			/>
		</g>
		<defs>
			<filter
				id="filter0_f_10034_5038"
				x="0.333405"
				y="-312.667"
				width="1119.59"
				height="933.333"
				filterUnits="userSpaceOnUse"
				color-interpolation-filters="sRGB"
			>
				<feFlood flood-opacity="0" result="BackgroundImageFix" />
				<feBlend
					mode="normal"
					in="SourceGraphic"
					in2="BackgroundImageFix"
					result="shape"
				/>
				<feGaussianBlur
					stdDeviation="133.333"
					result="effect1_foregroundBlur_10034_5038"
				/>
			</filter>
		</defs>
	</svg>
</footer>
