@forward "about-card-1";
@forward "accordion";
@forward "alert";
@forward "animation-border-360";
@forward "avatar";
@forward "badge";
@forward "banner";
@forward "blend";
@forward "brand-2";
@forward "breadcrumb";
@forward "btn";
@forward "card";
@forward "case-study-card";
@forward "circle-radius";
@forward "code-snippet";
@forward "dropdown";
@forward "feature-card-1";
@forward "feature-separate-border";
@forward "folder-card";
@forward "form-check";
@forward "form-control";
@forward "form-select";
@forward "gradient-border";
@forward "group";
@forward "horizontal-grid";
@forward "image-reveal";
@forward "line-clamp";
@forward "list";
@forward "logo";
@forward "modal";
@forward "navigation-0";
@forward "navigation-1";
@forward "offcanvas";
@forward "orbit";
@forward "pagination";
@forward "platform-card";
@forward "portfolio-card";
@forward "post-img-size";
@forward "preloader";
@forward "price-card-1";
@forward "price-card-2";
@forward "price-card-3";
@forward "price-card-4";
@forward "price-card-5";
@forward "progress";
@forward "pulser";
@forward "scroller-x";
@forward "scroller-y";
@forward "switcher";
@forward "tab";
@forward "tab-1";
@forward "tab-2";
@forward "tab-3";
@forward "tab-4";
@forward "tab-5";
@forward "tab-underline";
@forward "table";
@forward "team-member-1";
@forward "team-member-2-slider";
@forward "testimonial-slider-1";
@forward "testimonial-slider-3";
@forward "testimonial-slider-4";
@forward "text-clip";
@forward "text-splash";
@forward "text-stroke";
@forward "text-wing";
@forward "timeline-1";
@forward "timeline-2";
@forward "tooltip";
@forward "user-counter-box";
@forward "video-player";
