.platform-card-1 {
	background-image: linear-gradient(
			90deg,
			rgba(136, 91, 253, 0.8) 0%,
			rgba(99, 40, 255, 0.8) 68.76%
		),
		url("../img/shapes/card-bg-1.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.platform-card-2 {
	&__content {
		background-image: url("../img/shapes/card-bg-2.png");
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
}
