.background-video {
  position: fixed;
  // background: rgb(31, 0, 37);
  background: #000;
  inset: 0;
  z-index: -1;
  pointer-events: none;

  video {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    object-fit: cover;
    transform: none !important;
    opacity: 0.5;
  }
}



