@use "../global" as *;
.container-max {
	margin-inline: auto;
	@media (min-width: 1600px) {
		max-width: rem(1452);
	}
	@media (min-width: 1800px) {
		max-width: rem(1652);
	}
	@media (min-width: 2100px) {
		max-width: rem(1852);
	}
	@media (min-width: 2500px) {
		max-width: rem(2052);
	}
}
.container-fhd {
	margin-inline: auto;
	@media (min-width: 1600px) {
		max-width: rem(1452);
	}
	@media (min-width: 1800px) {
		max-width: rem(1652);
	}
}
