.generate-image-prompt-section {
	background-image: linear-gradient(transparent, rgba(var(--bs-light-rgb), 0.025));
	&::after {
		content: "";
		position: absolute;
		inset: 0;
		z-index: -1;
		pointer-events: none;
		background-color: rgba(var(--bs-black-rgb), 0.25);
		filter: blur(50px);
	}
}
.generate-image-prompt {
	padding-block: clamp(12rem, 14vw + 0.5rem, 18rem);
	background-image: url(../img/generate-img-input-bg.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	&__form {
		display: flex;
		padding: 0.7rem 1rem;
		border-radius: 0.75rem;
		border: 1px solid rgba(193, 193, 193, 0.36);
		background: rgba(188, 188, 192, 0.2);
		backdrop-filter: blur(20px);
	}
	&__input {
		background-color: transparent;
		border: 1px solid transparent;
		color: var(--bs-light);
		&:focus {
			background-color: transparent;
			border-color: transparent !important;
			color: var(--bs-light);
		}
		&::placeholder {
			color: rgba(var(--bs-light-rgb), 0.75);
		}
	}
}
