/* Hero 3 */
@use "../global" as *;
.hero-3 {
	padding-block-start: clamp(6rem, 8.5vw + 1rem, 10rem);
	// background-color: var(--bs-primary-text-emphasis);
	// background: radial-gradient(circle,rgba(0, 0, 0, 1) 31%, rgb(85, 5, 131) 100%);
	width: 80%;
	@include screen(lg) {
		border-radius: 1.5rem 1.5rem 0 0;
	}

	&__alert {
		&::after {
			content: "";
			position: absolute;
			inset: 0;
			background-image: linear-gradient(180deg, var(--bs-dark-bg-subtle), var(--bs-dark));
			opacity: 0.3;
			z-index: -1;
		}
	}
	&__element {
		&-1 {
			top: 30%;
			left: 0;
			@include screen(xxl) {
				top: 60%;
				left: -2%;
			}
		}
		&-2 {
			top: 40%;
			left: 10%;
			@include screen(xxl) {
				left: 17%;
			}
		}
		&-3 {
			top: 30%;
			right: 0;
			@include screen(xxl) {
				top: 60%;
				right: -2%;
			}
		}
		&-4 {
			top: 40%;
			right: 10%;
			@include screen(xxl) {
				right: 17%;
			}
		}
	}
}

[data-bs-theme="dark"] {
	.hero-3 {
		// background-color: var(--bs-primary-bg-subtle);
		// background: radial-gradient(circle,rgba(0, 0, 0, 1) 1%, rgba(85, 5, 131, 1) 100%);
		// box-shadow:  0 0 150px 100px rgba(85, 5, 131, 1);
	}
}
