@forward "about-1";
@forward "about-2";
@forward "about-3";
@forward "authentication-page";
@forward "blog-showcase-section";
@forward "brand-section-1";
@forward "career-slider";
@forward "container-customization";
@forward "cta-2-section";
@forward "cta-3";
@forward "cta-4";
@forward "cta-5";
@forward "cta-6";
@forward "cta-7";
@forward "cta-8";
@forward "feature-section-1";
@forward "feature-section-2";
@forward "feature-section-3";
@forward "feature-3";
@forward "feature-4";
@forward "footer-1";
@forward "footer-2";
@forward "footer-3";
@forward "generate-image-prompt";
@forward "header";
@forward "hero-1";
@forward "hero-2";
@forward "hero-3";
@forward "hero-4";
@forward "hero-5";
@forward "hero-6";
@forward "hero-7";
@forward "hero-8";
@forward "integration-section-1";
@forward "map-view";
@forward "portfolio-section-2";
@forward "pricing-section-1";
@forward "pricing-section-2";
@forward "pricing-section-3";
@forward "pricing-section-4";
@forward "section-height";
@forward "section-space";
@forward "testimonial-section-1";
@forward "testimonial-section-2";
@forward "testimonial-section-3";
@forward "testimonial-section-4";
@forward "usage-section-1";
