/* Pricing Section 3 */
@use "../global" as *;
.pricing-section-3__inner-content {
	background-color: var(--bs-primary-text-emphasis);
	&::after {
		content: "";
		position: absolute;
		// inset: 0;
		z-index: -2;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 76.58%),
			var(--Color-Primary-Dark, #15063f);
	}
	&__inner-content {
		background: linear-gradient(0deg, transparent 30%, var(--bs-primary-text-emphasis) 100%);
	}
}
[data-bs-theme="dark"] {
	.pricing-section-3__inner-content {
		background-color: var(--bs-primary-bg-subtle);
		&__inner-content {
			background: linear-gradient(0deg, transparent 30%, var(--bs-primary-bg-subtle) 100%);
		}
	}
}
@media (max-width:768px) {
	.pricing-section-3 h6 {
		margin: 0 auto;
	}
	.techText {
		margin: 0 auto;
	}
	.pricing-section-3 img {
		display: none;
	}
}

