<!DOCTYPE html>
<html lang="en" data-bs-theme="light" {{#if dataTheme}} data-theme="{{dataTheme}}" {{/if}}>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="NextAi is a powerful SaaS, AI, and tech startup template designed for innovative businesses. Launch your digital products with a responsive, high-performance layout optimized for startups, software, and AI-based tech solutions. Perfect for showcasing apps, tech services, and advanced digital solutions with sleek design and robust functionality">
    <meta name="keywords"
        content="SaaS template, AI startup template, tech startup template, NextAi template, digital product template, software landing page, responsive tech template, SaaS website design, AI tech solutions, startup landing page, tech website template, SaaS UI design, SaaS and AI template, modern tech template">
    <meta name="author" content="bplugins">
    <title>{{title}}</title>
    <link rel="icon" href="{{root}}assets/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="{{root}}assets/css/bootstrap.css">
    <link rel="stylesheet" href="{{root}}assets/css/bootstrap-icons.css">
    <link rel="stylesheet" href="{{root}}assets/css/simplebar.css">
    <link rel="stylesheet" href="{{root}}assets/css/swiper-bundle.css">
    <link rel="stylesheet" href="{{root}}assets/css/ff-1.css">
    <link rel="stylesheet" href="{{root}}assets/css/ff-2.css">
    <link rel="stylesheet" href="{{root}}assets/css/prism.css">
    <link rel="stylesheet" href="{{root}}assets/css/style.css">
</head>

<body {{#if bodyClass}} class="{{bodyClass}}" {{/if}}>
    {{#if navbar}}
    {{> "header"}}
    {{/if}}
    {{> "preloader"}}
    <div id="smooth-wrapper">
        <div id="smooth-content">
            {{>body}}
        </div>
    </div>
    {{> "backgroundVideo"}}
    <!-- Scripts -->
    <script src="{{root}}assets/js/bootstrap.bundle.js"></script>
    <script src="{{root}}assets/js/iconify.js"></script>
    <script src="{{root}}assets/js/simplebar.js"></script>
    <script src="{{root}}assets/js/swiper.js"></script>
    <script src="{{root}}assets/js/prism.js"></script>
    <script src="{{root}}assets/js/gsap.min.js"></script>
    <script src="{{root}}assets/js/ScrollTrigger.min.js"></script>
    <script src="{{root}}assets/js/Flip.min.js"></script>
    <script src="{{root}}assets/js/DrawSVGPlugin.min.js"></script>
    <script src="{{root}}assets/js/SplitText.min.js"></script>
    <script src="{{root}}assets/js/ScrollSmoother.min.js"></script>
    <script src="{{root}}assets/js/app.js"></script>
</body>

</html>